.homeAside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh;

    padding: 10px;

    width: 100%;
    height: 90vh;

    background-color: #35313d;

    .newCad {
        grid-row: 1;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        margin-left: 180px;
        width: 80vw;

        color: white;

        .addPerson {
            margin-left: 15px;
            transition: 0.3s;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
                background: green;

                border-radius: 100%;
            }
        }
    }

    table {
        grid-row: 2;
        justify-self: center;
        align-self: flex-start;

        margin-top: 20px;

        width: 80vw;

        color: white;
        border-collapse: collapse;
        border-radius: 8px;
        border: 2px solid rgba(194, 186, 196, .25);

        thead {
            font-family: 'Baloo', sans-serif;
            font-size: 1.5rem;

            background-color: #86838b;

            th {
                padding: 10px;
                width: 150px;

                align-items: center;
                border: 2px solid rgba(194, 186, 196, .25);
            }
        }

        td {
            padding: 10px 30px;
            text-align: center;
            border: 2px solid rgba(194, 186, 196, .25);

            background-color: #f8f8f8;
            color: black;

            .pencilSimple {
                margin-right: 14px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    transform: scale(1.2);
                }
            }

            .trashSimple {
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

@media (min-width: 1380px) {
  .divAddModal {
    left: -200px;
  }
}

@media (max-width: 768px) {
    .homeAside {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
  
      .newCad {
        margin-top: -200px;
        margin-left: 30px;
        width: 90%;
        justify-content: center;
      }
  
      table {
        margin-top: -200px;
        width: 90%;
        overflow: auto;
  
        td, th {
          padding: 2px 3px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .homeAside {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      overflow: auto;
  
      .newCad {
        margin-left: 10px;
        width: 90%;
        justify-content: center;
        
      }
  
      table {
        margin-top: -200px;
        width: 90%;

        td, th {
          padding: 2px 3px;
        }
      }
    }
  }
  