.add {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .closeModalAddIcon {
        margin-right: 4px;
        cursor: pointer;

        &:hover {
            border-top: 2px solid transparent;
            border-bottom: 2px solid red;

            transform: scale(1.2);
        }
    }
}

label {
    margin-top: 60px;
    margin-left: 15px;
    display: block;

    width: max-content;
    padding: 2px;

    font-size: 1.5rem;
    z-index: 1;
}

input {
    margin-left: 15px;
    padding: 10px;

    width: 90%;

    border-radius: 6px;
}

input[type=email]:invalid {
    color: red;
}

.buttonCad {
    margin-top: 20px;
    margin-left: 15px;
    padding: 15px;

    width: 90%;

    border: none;
    border-radius: 8px;

    background-color: rgb(61, 158, 61);
    font-weight: bold;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        background-color: green;
    }
}


@media (max-width: 1380) {}