main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 100%;
    height: 100vh;

    background-color: #F5F5F5;

    .infos {
        columns: 1;

        h1 {
            margin-top: 200px;
            margin-left: 100px;

            font-size: 4rem;
            font-family: 'Edu NSW ACT Foundation', cursive;
            color: rgb(60, 60, 202);
        }

        hr {
            width: auto;

            border-color: rgb(60, 60, 202);

            margin-left: 100px;
        }

        h2 {
            margin-top: 10px;
            margin-left: 100px;
            color: rgb(128, 123, 123);

        }

        aside {
            display: flex;
            align-items: center;

            margin-left: 100px;
            margin-top: 70px;

            font-size: 2rem;
            color: white;

            h3 {
                margin-left: 15px;
                font-size: 2rem;

                color: rgb(128, 123, 123);
                font-weight: bold;

                
            }

            .iconGift {
                transform: rotate(-0.02turn);
            }
        }

    }

    .img {
        columns: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 60vw;
            height: 60vh;
        }

    }

    .linkCad {
        display: flex;
        justify-content: flex-start;

        margin-left: 100px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 20px;

            width: 300px;
            padding: 20px;

            border: none;
            border-radius: 8px;
            font-size: 1rem;
            font-weight: bold;
            transition: 0.3s;

            background-color: rgb(60, 60, 202);
            color: wheat;


            &:hover {
                cursor: pointer;
                background-color: rgb(35, 35, 201);
            }
        }
    }
}

@media (max-width: 768px) {
    .infos {
        columns: 1;

        h1 {
            margin-top: 120px;
            margin-left: 200px;

            font-size: 2rem;
        }

        hr {
            width: 590px;

            margin-left: 200px;
        }

        h2 {
            margin-top: 10px;
            margin-left: 200px;
        }

        aside {
            margin-left: 200px;
            margin-top: 70px;

            font-size: 2rem;

            h3 {
                margin-left: 15px;
            }
        }

    }

    .img {
        display: none;

        img {
            display: none;
        }

    }

    .linkCad {
        button {
            margin-top: 20px;

            width: 400px;
            padding: 20px;
        }
    }
}

@media (max-width: 600px) {
    .infos {
        columns: 1;
        margin-left: -70px;

        h1 {
            margin-top: 120px;
            margin-left: 2px;

            font-size: 2rem;
            font-family: 'Baloo', sans-serif;
            color: white;
        }

        hr {
            width: 590px;

            margin-left: 200px;

            color: lightgrey;
        }

        h2 {
            font-size: 1rem;

            margin-top: 10px;
            margin-left: 200px;
            color: white;
        }

        aside {
            display: flex;
            align-items: center;

            margin-left: 200px;
            margin-top: 70px;

            font-size: 2rem;
            color: white;

            h3 {
                margin-left: 15px;

                font-size: 1.5rem;
            }
        }

        button {
            width: auto;
            padding: 10px;
        }

    }

    .img {
        display: none;

        img {
            display: none;
        }

    }
}