.sortDiv {
    display: grid;

    padding: 10px;

    width: 100%;
    height: 90vh;

    background-color: #35313d;

    .buttonSort {
        padding: 5px;
        height: 80px;
        width: 50%;

        font-size: 2rem;

        justify-self: center;

        background-color: rgb(60, 60, 202);


        &:hover {
            background-color: rgb(35, 35, 201);
        }
    }

    .sortAside {
        margin-top: -300px;
        justify-self: center;

        .newCad {
            grid-row: 1;

            display: flex;
            align-items: center;
            justify-content: flex-start;

            margin-left: 180px;
            width: 80vw;

            color: white;
        }

        table {
            grid-row: 2;
            justify-self: center;
            align-self: flex-start;

            margin-top: 20px;

            width: 80vw;

            color: white;
            border-collapse: collapse;
            border-radius: 8px;
            border: 2px solid rgba(194, 186, 196, .25);

            thead {
                font-family: 'Baloo', sans-serif;
                font-size: 1.5rem;

                background-color: #86838b;

                th {
                    padding: 10px;
                    width: 150px;

                    align-items: center;
                    border: 2px solid rgba(194, 186, 196, .25);
                }
            }

            td {
                padding: 10px 30px;
                text-align: center;
                border: 2px solid rgba(194, 186, 196, .25);

                background-color: #f8f8f8;
                color: black;
            }
        }
    }

    .sendAside {
        margin-top: 15px;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        h1 {
            color: white;
            margin-right: 15px;
        }

        .sendEmail {
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 380px) {
    .sortAside {
       height: 60vh;
       margin-top: 0px !important;
    }
}